[submodule "apclientpp"]
	path = Oxygen/sonic3air/source/sonic3air/client/archipelago/apclientpp
	url = https://github.com/black-sliver/apclientpp
	branch = main
[submodule "wswrap"]
	path = Oxygen/sonic3air/source/sonic3air/client/archipelago/wswrap
	url = https://github.com/black-sliver/wswrap
[submodule "valijson"]
	path = Oxygen/sonic3air/source/sonic3air/client/archipelago/valijson
	url = https://github.com/tristanpenman/valijson
[submodule "json"]
	path = Oxygen/sonic3air/source/sonic3air/client/archipelago/json
	url = https://github.com/nlohmann/json
[submodule "websocketpp"]
	path = Oxygen/sonic3air/source/sonic3air/client/archipelago/websocketpp
	url = https://github.com/zaphoyd/websocketpp
